#sector-area-header {
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#create-new-sector-button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#create-new-sector-button:hover {
  background-color: #556567
}
