.create-new-sector-form {
  background-color: #64696C;
  padding: 20px;
}

#submit-user-created-sector-infomation-button:hover {
  background-color: #556567
}


.create-new-sector-title {
  color: white;
  padding-top: 1rem;
  text-align: center;
}
