.weaponcard-body{
  background-color: black;
  color: white;
  height: 150px;
  width:100;
  text-align: center;
  }

.card-header{
  text-align: center;
  font-family: 'Franklin Gothic Medium';
  font-size: 30px;
  font-weight: bold;
  background-color: black;
}


 h2{
   font-family: 'Franklin Gothic Medium'; 
 }

 .img.card-img-top{
   display: block;
   height: 200px;
   width: 200px;

 }