#submit-user-edited-sector-infomation-button:hover {
  background-color: #556567
}

.edit-sector-form {
  background-color: #64696C;
  padding: 20px;
}

.edit-sector-title {
  color: white;
  padding-top: 1rem;
  text-align: center;
}
