.sector-card {
  background-color: #64696C;
}

#edit-sector-button:hover {
  background-color: #556567
}

#delete-sector-button:hover {
background-color: #BC1E22
}


.sector-card-image {
  display: block;
   height: 300px;
   width: 100%;
}
