.iconblue {
  background-color: blue;
}

.label {
  margin-left: 5px !important;
}

input[type="radio"]{
  margin: 0 10px 0 10px;
}

.modal {
  z-index: 999999 !important;
}

.modal .body  {
  background-color: white;
  color: black;
}

body {
  color: black !important;
}