@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// @import "../javascripts/components/auth/auth";
@import "../javascripts/components/myNavbar/myNavbar";

// sector scss imports below
@import "../javascripts/components/sectorArea/sectorArea";
@import "../javascripts/components/sector/sector";
@import "../javascripts/components/createSector/createSector";
@import "../javascripts/components/editSector/editSector";
// sector scss imports above

//war room scss imports below
@import '../javascripts/components/personnel/personell';
@import '../javascripts/components/warRoom/warRoom.scss';

body {
  background-image: url(https://wallpapercave.com/wp/bV3WiYh.jpg);
  color: white;
}


.hide {
  display: none;
}

#main-view {
  height: 600px;
  width:100%;
  margin-top: 20px;
}
