@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../javascripts/components/myNavbar/myNavbar";

// sector scss imports below
@import "../javascripts/components/sectorArea/sectorArea";
@import "../javascripts/components/sector/sector";
@import "../javascripts/components/createSector/createSector";
@import "../javascripts/components/editSector/editSector";
// sector scss imports above

//war room scss imports below
@import '../javascripts/components/personnel/personell';
@import '../javascripts/components/warRoom/warRoom.scss';
@import '../javascripts/components/galaxy/galaxy';
@import '../javascripts/components/dashboardCards/dashboardCard';

//enemy scss import below

body {
  background-image: url(https://wallpapercave.com/wp/bV3WiYh.jpg);
  font-family: 'Pathway Gothic One', sans-serif;
}

#main-div {
  background-image: url('https://i.imgur.com/DQl0eYt.jpg');
  position: absolute;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  background-position: contain;
  background-repeat: no-repeat;
  background-size: cover;
}

.hide {
  display: none;
}

#main-view {
  height: 600px;
  width:100%;
  margin-top: 20px;
}

.form-row {
  color: white;
}

.profile-card-5{
  margin-top:20px;
}
.profile-card-5 .btn{
  border-radius:2px;
  text-transform:uppercase;
  font-size:12px;
  padding:7px 20px;
}
.profile-card-5 .dashboard-card-img-block {
  width: 91%;
  margin: 0 auto;
  position: relative;
  top: -20px;
  
}
.profile-card-5 .dashboard-card-img-block img{
  border-radius:5px;
  box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
  color:#4E5E30;
  font-weight:600;
}
.profile-card-5 p{
  font-size:14px;
  font-weight:300;
}
.profile-card-5 .btn-primary{
  background-color:#4E5E30;
  border-color:#4E5E30;
}

.dashboard-card-text {
  color: black; 
  margin-bottom: -30px ;
}

.dashboard-orange-text {
  color: orange;
  border: solid 2px;
  margin-left: 30px;
  padding: 4px;
}

.dashboard-red-text {
  color: red;
  border: solid 2px;
  margin-left: 50px;
  padding: 4px;
}
