@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "../javascripts/components/myNavbar/myNavbar";

// sector scss imports below
@import "../javascripts/components/sectorArea/sectorArea";
@import "../javascripts/components/sector/sector";
@import "../javascripts/components/createSector/createSector";
@import "../javascripts/components/editSector/editSector";
// sector scss imports above

body {
  background-image: url(https://wallpapercave.com/wp/bV3WiYh.jpg);
  color: white;
  font-family: 'Pathway Gothic One', sans-serif;
}


.hide {
  display: none;
}

#main-view {
  height: 600px;
  width:100%;
  margin-top: 20px;
}

