@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";


body {
  background-image: url(https://wallpapercave.com/wp/bV3WiYh.jpg);
  color: white;
}

.hide {
  display: none;
}