.mycard-body{
  background-color: black;
  height: 150px;
  width:250;
  float: left;
  text-align: center;
  color: white ;
  }

.card-header{
  text-align: center;
  font-family: 'Franklin Gothic Medium';
  font-size: 30px;
  font-weight: bold;
  color: white
}

 h2{
   font-family: 'Franklin Gothic Medium'; 
 }
 img.weapon-image{
   display: block;
   margin: auto;
   height: 600px;
   width: 1900px;
   align-items: center;
 }
 